.text {
  color: red;
  font-size: 40px;
  line-height: 1.3;
  font-style: italic;
  opacity: 0.7;

  box-shadow: 15px 15px 15px 2px #ed400b, 5px -5px 5px 0 #e8e4d0,
    5px -5px 5px 0 #ce84b9, 5px -5px 5px 0 #7f8241, 5px -5px 5px 0 #563bce;
}
